nexMuni/nexMuni.WindowsPhone/SampleData/SampleStops/SampleStops.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleStops" targetNamespace="Blend.SampleData.SampleStops" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleStops" type="tns:SampleStops" />
  <xs:complexType name="SampleStops">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Routes" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,3" name="Distance" type="xs:string" />
  </xs:complexType>
</xs:schema>