nexMuni/nexMuni.WindowsPhone/SampleData/RouteDataSample/RouteDataSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.RouteDataSample" targetNamespace="Blend.SampleData.RouteDataSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RouteDataSample" type="tns:RouteDataSample" />
  <xs:complexType name="RouteDataSample">
    <xs:sequence>
      <xs:element name="Stops" type="tns:Stops" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Stops">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StopsItem" type="tns:StopsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StopsItem">
    <xs:attribute blend:FormatParameters="3" name="RouteNum" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,5" name="inTimes" type="xs:string" />
    <xs:attribute name="RouteName" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,5" name="outTimes" type="xs:string" />
    <xs:attribute name="inTitle" type="xs:string" />
    <xs:attribute name="outTitle" type="xs:string" />
  </xs:complexType>
</xs:schema>